* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.3rem;
}

a{
    color: #fff;
    text-decoration: none;
}

h1,h2,h3 {
    padding-bottom: 1.3rem;
}

p{
    margin:.7rem;
}

/* UseAGAIN */



.container {
    margin:auto;
    max-width: 100%;
    overflow:auto;
    padding: 0 1.3rem;
}


.navtext {
    color:rgba(219, 44, 211, 0.733);
}

.bio-em {
    font-size: 1.1rem;
}

.btn {
    display:inline-block;
    font-size: 1.2rem;
    color: #774579;
    background:#E27D60;
    padding: .7rem 1.12rem;
    border:none;
    cursor:pointer;
}

.btn:hover {
    background:#e26060;
    color:#95ece1;
}

.bg-dark {
    background: #d1785f;
    color:#95ece1;
}

.bg-light {
    background:#95ece1;
    color: #d1785f;
}

.bg-main {
    background:#C38d9e;
    color:rgb(53, 7, 7)
}


.btn-main {
    background:rgb(134, 91, 91);
    color:#fff;
}

.clr {
    clear:both;
}

/* Navigation */

#navbar {
    background: #7ecac0;
    color: azure;
    overflow:auto;
}

#navbar a {
    color:#ff0b55c9;
}

#navbar h1 {
    text-transform: uppercase;
    float:left;
    padding-top:1.3rem;
}

#navbar ul {
    list-style:none;
    float:right;
}

#navbar ul li{
    float:left;
}

#navbar ul li a {
    display: block;
    padding: 1.3rem;
    text-align: center;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background: #E27D60;
    color: #55f1dd;
}

/* bodies */

#subhead {
    height: 200px;
    background: #cc735a;
    text-align: center;
    padding-top:3.1rem;
}

/* MEDIA QUERY img? */
#bio-meat {
    height: 40em;
}

#bio-meat .img-left {
    float:left;
    width: 50%;
    background: url("../img/jt2.jpg") no-repeat center center/cover;
    min-height: 100%;
}

#bio-meat .brief-bio {
    float:right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 3.12rem 1.87rem;
    overflow:hidden;
}

/* likes and dislikes ? */

.box {
    float:left;
    width: 33.3%;
    padding: 3.1rem;
    text-align: center;
    height: 11rem;;
}

.box i {
    margin-bottom: .8rem;
}

#likes .likesh {
    text-align: center;
    width:100%;
    padding-top: 1rem;
}



/* bottom */

#main-footer {
    text-align:center;
    background: #68ada4;
    color:rgb(255, 223, 223);
    padding: .8rem;
}